.footer {
  color: white;
  background-color: #232f3e;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  /* margin-top: 2em; */
}

.footer-row {
  margin: 0em auto;
  padding-bottom: 40px;
  flex-wrap: wrap;
  display: flex;
}

.footer-col {
  display: table-cell;
  padding: 0 10px;
  line-height: 19px;
}

.footer-col-head {
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;
  margin: 6px 0 14px 0;
  white-space: nowrap;
}

.footer-col > ul {
  margin: 0;
  padding: 0;
}

.footer-col > ul > li {
  list-style-type: none;
}

.footer-line {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.footer-line-logo {
  width: 7em;
  object-fit: contain;
  margin: 1em 2em 0 2em;
}

.footer-line-message {
  align-items: center;
  display: flex;
  font-size: 120%;
}

.footer-line > a {
  text-decoration: none;
  color: white;
  margin-left: 5px;
}
