@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200&display=swap");

.header {
  background-color: black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
.header_logo {
  width: 120px;
}
.header-location {
  color: white;
}
.header-location-line-1 {
  line-height: 14px;
  font-family: "Raleway", sans-serif;
  font-size: 12px;
  font-weight: 600;
}
.header-location-line-2 {
  font-weight: 900;
  font-size: small;
  color: white;
}
.nav-search-bar {
  display: flex;
  height: 40px;
  flex-grow: 0.5;
}
.nav-search-input {
  /* width: 700px; */
  width: 100%;
}
.nav-search-btn {
  background-color: #cd9042;
  padding: 10px;
}
.nav-flag {
  width: 3%;
}
.header-account-list {
  color: white;
}

.header-cart {
  display: flex;
}
.header-cart-number {
  color: white;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}
.nav-search-bottom {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-location {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .header-location,
  .nav-search-bar {
    display: none;
  }
  .nav-flag {
    display: none;
  }
  .nav-search-bottom {
    display: flex;
    height: 40px;
    width: 100%;
    background: #131921;
    padding: 2px 10px;
  }
}
